PROVENANCE_HOST=127.0.0.1
PROVENANCE_PORT=8787
PROVENANCE_API_TOKEN=replace-with-a-long-random-secret
PROVENANCE_DATA_DIR=../../runtime/ledger-service
PROVENANCE_SHARD_COUNT=1
PROVENANCE_ADOPT_LEGACY_ROUTING_HISTORY=false
PROVENANCE_MAX_BATCH_EVENTS=500
PROVENANCE_MAX_REQUEST_BYTES=8388608
